body{
    margin: 0px !important;
    background-color: black;
    color:white;
}
.header-section{
    display: block;
}
.heading{
    color: white;
    font-family: 'Staatliches';
    margin-left: 10%;
    font-size: 34px;
    margin-top: 10%;
}
.today-heading{
    color:white;
    font-family: 'Staatliches', sans-serif;
    font-size: 24px;
    text-align: right;
    padding-right:10%;
    margin-bottom: 0;
    
}
#todaytop{
    color:grey;
    font-family:'Open Sans';
    font-size: 14px;
    text-align: right;
    padding-right: 10%;
    margin-top:0;
}
label{
    color:white;
    font-family:'Lato';
}
input{
    display:block;
    border-left:none;
    border-right:none;
    border-top:none;
    border-bottom: 0.5px solid grey;
    background-color:black;
    margin: auto;
    text-align: center;
    color:white; 
    width:70%;
}
input:focus{
    border-top:none;
    border-left:none;
    border-right:none;
}
ul{
    list-style-type: none;
    padding:0;

}

li{
    font-family: 'Open sans';
    padding-top:1%;
    padding-bottom: 1%;
    /* text-align: center; */
    display: inline-block;
    font-size: 12;
    width: 80%;
}
.frame{
    margin-left:auto;
    margin-right:auto;
    max-width:436px;
}
.closer{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    color: #ca6262c9;
    margin-top:0;
    margin-bottom: 0;
}
.house{
    margin-left: 10%;
}